@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 2rem;
}

body{
    height: 100vh;
    background-image: url("./images/background.png");
    font-family: karla;
    font-weight: 300px;
}

/* ||HEADER */

.header-section{
    display: flex;
    justify-content: space-around;
}

.header-section nav{
    display: flex;
    align-items: center;
}

.header-section nav ul{
    display: flex;
    justify-content: space-around;
}

.header-section nav ul li{
    list-style: none;
}

.header-section nav ul li a{
    padding: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.header-section input{
    border-radius: 0 10px 10px 0;
    height: fit-content;
    display: flex;
    align-items: center;
    margin: 35px 0;
    padding: 0 12px;
    background-color: #e0e0e0;
}

.bars{
    display: flex;
}

button{
    border-radius: 10px 0 0 10px;
    height: fit-content;
    display: flex;
    align-items: center;
    margin: 35px 0;
    padding: 9.5px;
    background-color: #e0e0e0;
}

/* ||SECTION */
.flex-area{
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
}

.flex-area div h1{
    font-size: 80px;
    color: rgb(31, 31, 71);
    padding: 35px 0;
}

.flex-area div p{
    font-size: 40px;
}

.colored{
    color: aqua;
}

.flex-area div h2{
    border-radius: 10px;
    color: #f4f4f4;
    font-weight: 300;
    font-size: 20px;
    padding: 6px 18px;
    text-align: center;
    margin: 12px;
    width: fit-content;
    background: linear-gradient(to bottom right, rgb(48, 255, 203), rgb(255, 0, 255));
}

.button{
    display: flex;
}

.text-about{
    padding: 20px;
    position: absolute;
    top: 33.33%;
    left: 8%;
}

.image-sect {
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 0;
    right: 95px;
    height: 87%;
}

.flex-area div img{
    width: 22em;
}

.links{
    display: grid;
    align-items: end;
    justify-content: center;
    /* border: 2px dotted blue; */
    width: 5%;
    position: fixed;
    bottom: 30px;
    right: 20px;
}

.links nav ul li{
    list-style: none;
}

.links nav ul li a{
    color: gray;
}




